<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - RedShow</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=gHQMpxyEFu2HMqVD9hTb5lIbWh8k19XV"></script>
        <script src="~/EasyUI/jquery-easyui-1.5.1/jquery.min.js"></script>
        <script src="~/EasyUI/jquery-easyui-1.5.1/jquery.easyui.min.js"></script>

        <link href="~/EasyUI/jquery-easyui-1.5.1/themes/icon.css" rel="stylesheet" />
        <link href="~/EasyUI/jquery-easyui-1.5.1/themes/default/easyui.css" rel="stylesheet" />
        <link href="~/Content/common.css" rel="stylesheet" />
        <script src="~/EasyUI/jquery-easyui-1.5.1/locale/easyui-lang-zh_CN.js"></script>
        <script src="~/Scripts/MyScript/common.js"></script>
        <script src="~/Scripts/ajaxfileupload.js"></script>

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("RedShow is not at home！", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("主页", "Index", "Home")</li>
                            <li>@Html.ActionLink("我", "Mine", "User")</li>
                            <li>@Html.ActionLink("帮助", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
                @RenderBody()
            <div style="text-align: center;color: green;height: 0.01px">Copyright © @DateTime.Now.Year Red Show Home. All Rights Reserved.</div>
        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>
<script type="text/javascript">
    $(function() {
        window.GlobalVariable={};
    });
</script>