@using RedShowHome.Models
@using RedShowHome.Models.Context
@if (ContextHelper.GetCurrent().GetItem(Constant.UserID)!="") {
    <ul>
        <li style="color: whitesmoke">@ContextHelper.WelcomeUserName()</li>
        <li><b>@Html.ActionLink("注销", "Logoff", "User")</b></li>
    </ul>
} else {
    <ul>
        <li style="color: whitesmoke">@ContextHelper.WelcomeUserName()</li>
        <li><b>@Html.ActionLink("注册", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</b></li>
        <li><b>@Html.ActionLink("登录", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</b></li>
    </ul>
}
