@using RedShowHome.Models
@using RedShowHome.Models.Context
@if (ContextHelper.GetCurrent().GetItem(Constant.UserID)!="") {
    <ul>
        @ContextHelper.WelcomeUserName()
        <li>@Html.ActionLink("注销", "Logoff", "User")</li>
    </ul>
} else {
    <ul>
        @ContextHelper.WelcomeUserName()
        <li>@Html.ActionLink("注册", "Register", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("登录", "Login", "User", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
